body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    background-color: #F1EFE8;
}

.horizontal-line {
    width: 100%; /* Make the line span the entire width of the container */
    height: 2.68px; /* Set the height of the line (adjust as needed) */
    background-color: #333; /* Set the line color (adjust as needed) */
    margin: 20px 0; /* Add spacing above and below the line (adjust as needed) */
    position: fixed;
    bottom: 50px;
  }
  
  .slideNum {
    position: fixed;
    bottom: 10px;
    right: 30px;
    color: black;
  }
  
  .little {
    font-family: DM Sans;
    font-size: large;
  }

  .App-logo {
    height: 60px;
    pointer-events: none;
    position: fixed;
    left: 20px;
    bottom: 7px;
  }

  .container2 {
    width: 1200px; /* Set the desired width */
    height: 300px; /* Set the desired height */
    overflow: hidden; /* Hide overflowing content */
    text-align: center;
    justify-content: center; /* Center child elements horizontally */
    align-items: center; /* Center child elements vertically */

  }

  #im2 {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop the image to fit the container dimensions */
    display: block;
    margin: 0 auto;
  }